html {
    height: 100%;
    background: url(img/bkg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: white;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

@keyframes pulser {
    0%,
    100% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.9;
    }
}

.logo {
    background: url(img/logo_round.png) no-repeat center;
    height: 181px;
    width: 176px;
    border-radius: 50%;
    margin: 1em auto;
    animation: pulser 7s infinite;
}

.tim_head {
    background: url(img/tim_head.png) no-repeat center;
    height: 7em;
    width: 7em;
    margin: 1em auto;
}

.header {
    padding: 3em 0 1em 0;
    flex: 0;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
}

.skills {
    text-align: center;
    flex: 1;
    list-style-type: none;
    padding: 0;
    margin: 2em 0 5em;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    height: 4em;
    justify-content: space-around;
}

.github {
    height: 40px;
    width: 50px;
    position: absolute;
    left: 0.3em;
}

.imdb {
    left: 3em;
    position: absolute;
}

.meetup {
    left: 6.6em;
    position: absolute;
}

.email {
    position: absolute;
    right: 1em;
    bottom: 1.5em;
    text-decoration: none;
    color: white;
}

.github:hover {
    cursor: pointer;
}

.email:hover {
    color: lightblue;
}

@media screen and (max-width: 500px) {
    .header {
        margin: 0.8em;
        font-size: 0.8em;
    }
    .email {
        font-size: 0.9em;
    }
}