html {
    height: 100%;
    background: url(img/bkg_2.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: white;
    min-height: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
}

@keyframes pulser {
    0%,
    100% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.9;
    }
}

.logo {
    background: url(img/logo_round.png) no-repeat center;
    height: 144px;
    width: 144px;
    border-radius: 50%;
    background-size: contain;
    margin: 2em auto;
    animation: pulser 7s infinite;
}

.tim_head {
    background: url(img/tim_head_orig.png) no-repeat center;
    background-size: contain;
    height: 96px;
    width: 96px;
    margin: 2em auto;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.hello {
    padding-top: 1em;
    flex: 0;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.skills {
    text-align: center;
    flex: 1;
    list-style-type: none;
    padding: 2em 0 0 0;
    margin-bottom: 5em;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    height: 4em;
}

.github {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0.5em;
}

.imdb {
    height: 26px;
    width: 54px;
    position: absolute;
    left: 3.2em;
}

.meetup {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 6.8em;
}

.email {
    margin-right: 0.7em;
    flex: 0;
    text-decoration: none;
    color: white;
}

.github:hover {
    cursor: pointer;
}

.email:hover {
    color: lightblue;
}

@media screen and (max-width: 500px) {
    .logo {
        width: 112px;
        height: 112px;
    }
    .tim_head {
        width: 96px;
        height: 96px;
    }
    .hello {
        padding: 0;
        margin: 0.8em;
        font-size: 0.8em;
    }
    .skills {
        padding: 0;
    }
}

@media screen and (min-width: 1000px) {
    .logo,
    .tim_head {
        padding: 1em;
    }
}